.mcategory-container{
    display: -webkit-flex;
	display: flex;
	flex-direction: column;
	width: 100px;
	height:900px;
    margin: 0
    background-color:#CCC;
}

.category-icon {
	padding-top: 45px;
    margin-bottom:2px; 
	text-align: center;
    margin: 0
    font-weight:32px;
    color:rgb(255,255,255);
	width: 100px;
	height: 50px;
    background-color:#666;

}
